.card .card-body p.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.btn{
    background-color: lightslategray!important;
    border: none;
}

.dropdown-menu {
    background-color: transparent;
}
